.App {
  /* text-align: center; */
}
.Nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  color:white;
}

li {
  padding:10px;
  float: left;  
}

.whiteLink{
  color:white
}


.App-header {
  background-color: #282c34;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

